[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

# Core GenAI
langchain = "*"
langchain-core = "*"
langchain-community = "*"

# LLM Integration
langchain-ollama = "*"

# UI
streamlit = "*"

# RAG Stack
langchain-text-splitters = "*"
langchain-huggingface = "*"
#ChromaDB for vector storage
#langchain-chroma = "*"
#chromadb = "*"

#Facebook AI Similarity Search
faiss-cpu = "*"

# Embeddings
sentence-transformers = "*"

# Document Processing
unstructured = "*"
"unstructured[pdf]" = "*"

# NLP Utilities
nltk = "*"

# Dev / Notebook
ipykernel = "*"
#Text to PDF generation
pypdf = "*"
fpdf = "*"
[dev-packages]

[requires]
python_version = "3.12"